<!DOCTYPE html>
<html>
<head>
    <title>我好像迷路了</title>
    <%- include('./components/header.ejs') %>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>来到了荒无人烟的沙漠</h1>
            <p>404 not found</p>
        </div>
    </div>
</body>
</html>



