<!DOCTYPE html>
<html>
<head>
    <title><%= userName %></title>
    <%- include('./components/header.ejs') %>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
    <div class="container">
        <ul class="breadcrumb">
            <li role="presentation" class="active"><a href="/rooms">聊天室</a></li>
            <li role="presentation"><a href="/users">个人中心</a></li>
            <li role="presentation" id="layout"><a href="#">退出</a></li>
        </ul>
    </div>
    <script>
    	$(document).ready(function(){
    		$('#layout').click(function(){
    			$.cookie('userName', '', { expires: -1 });
    			window.location.reload();
    		});
    	});
    </script>
</body>
</html>
