<!DOCTYPE html>
<html>
<head>
    <title>个人中心</title>
    <%- include('./components/header.ejs') %>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h3>欢迎您，<%= userName %></h3>
        </div>

        <div>

        </div>

    </div>
    <script>
    	$(document).ready(function(){

    	});
    </script>
</body>
</html>
