#title {
	text-align: center;
}
#main {
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	word-break: break-all;
	word-wrap:break-word;
}
#onlineList {
	max-height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
#onlineList > li {
	
}

#main .tip{
	color: red;
	font-size: 16px;
}

#main .received {
	color: #000;
}

#main .send {
	text-align: right;
}