<!-- input password -->
<div id="pass" class="modal fade bs-example-modal-sm" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">请输入房间密码</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="psd">房间密码</label>
                        <input type="password" class="form-control" id="psd" placeholder="请输入房间密码"  autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="sub">确认</button>
            </div>
        </div>
    </div>
</div>